.home {
  text-align: center;
  padding: 20px;
}

.banner {
  background: linear-gradient(to right, #1e3c72, #2a5298); /* Degradado de azul oscuro a un tono más claro */
  color: white;
  padding: 60px 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.banner h1 {
  font-size: 2.5rem;
  margin: 0;
}

.banner p {
  font-size: 1.2rem;
  margin-top: 10px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Distribución de cards */
  gap: 20px;
  justify-content: center;
  padding: 20px;
}
